process {
    executor = 'local'

    // sensible defaults (safe for laptop / modest system)
    cpus   = 2
    memory = '4 GB'
    time   = '2h'

    // -------- TOOL-SPECIFIC RESOURCES + CONTAINERS --------

    withName: FASTQC {
        cpus   = 1
        memory = '1 GB'
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }

    withName: ALIGN {
        cpus   = 3
        memory = '6 GB'
        container = 'biocontainers/bwa:v0.7.17_cv1'
    }

    withName: SAMTOOLS_VIEW {
        cpus   = 1
        memory = '2 GB'
        container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0'
    }

    withName: SORT_BAM {
        cpus   = 2
        memory = '4 GB'
        container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0'
    }

    withName: INDEX_BAM {
        cpus   = 1
        memory = '1 GB'
        container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0'
    }

    withName: FLAGSTAT {
        cpus   = 1
        memory = '1 GB'
        container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0'
    }

    withName: MULTIQC {
        cpus   = 1
        memory = '2 GB'
        container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'	
    }
}

docker {
    enabled = true

    // ensures files are owned by you, not root
    runOptions = '-u $(id -u):$(id -g)'
}

executor {
    // prevents too many jobs running at once
    queueSize = 4
}
